@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    --font-fam: 'Teko', sans-serif;
    --color-lgt: rgba(255, 255, 255, .6);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    min-height: max-content;
    max-height: 100vh;
    background-color: #222F3E;
    color: whitesmoke;
}

h1 {
    font-family: var(--font-fam);
    font-weight: 600;
    font-size: 3.5em;
    margin: 25px 0;
}

h2 {
    position: absolute;
    top: 110px;
    font-family: var(--font-fam);
    font-weight: 400;
    z-index: 1;
}

.group-btn {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 470px;
    background-color: #1d2835;
    border-radius: 50px;
}

.group-btn button {
    z-index: 10;
    font-family: var(--font-fam);
    font-size: 1.2em;
    color: var(--color-lgt);
    background-color: transparent;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    transition: all 370ms ease-in-out;
}

.group-btn button.active {
    color: whitesmoke; 
}

.group-btn .back-btn {
    position: absolute;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    z-index: 1;
    transition: all 300ms ease-in-out;
}
.group-btn .anim1 {
    left: 5px;
    background-color: #e74c3c;
}
.group-btn .anim2 {
    left: 160px;
    background-color: #2ecc71;
}
.group-btn .anim3 {
    left: 315px;
    background-color: #3498db;
}

.horloge {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
    font-weight: bold;
    min-height: 310px;
    min-width: 310px;
    width: 100vw;
    height: 100vw;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    font-size: 24px;
    background: linear-gradient(145deg, #1f2a38, #243242);
    box-shadow:  20px 20px 60px #1d2835,
                -20px -20px 60px #273647;
}

.progress-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.time {
    font-family: var(--font-fam);
    font-size: 4.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 375px;
    border-radius: 50%;
    background-color: #1d2835;
}

.mins, .secs {
    padding-top: 15px;
    line-height: 80px;
}

.time .point {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    width: 15px;
    margin: 0 5px;
}

.time .point div {
    width: 10px;
    height: 10px;
    background-color: whitesmoke;
    border-radius: 2px;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-lgt);
}

.setting i {
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgba(29, 40, 53, .3);
}

#play_pause {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #243242;
    height: 55px;
    width: 150px;
    border-radius: 100px;
    z-index: 1;
    border: none;
    bottom: 100px;
}

#play_pause:active {
    transform: scale(.95);
}

#play_pause svg {
    height: 50%;
    fill: whitesmoke;
}





@media screen and (max-width: 365px) {

    .time {
        font-size: 3.5em;
        width: 260px;
        height: 260px;
    }

}